<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <style>
        #Header{
      position: fixed;
      top:0px;
      background-image: linear-gradient(rgb(12, 68, 237),rgb(255, 255, 255),rgb(12, 68, 237));
      width: 100%;
      text-align: center;
      color:rgb(0, 0, 0);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
      }
      #Footer{
          width: 100%;
          position: fixed;
          bottom: 0px;
          background-color:rgb(145, 152, 218) ;  
      }
      </style>
    <link href="/css/Login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <br>
    <br>
    <div id="Header">
        <h2></h2> 
    </div>
            <div class="loginbox">
            <img src="L3.png" class="L3">
            <h1>Login</h1>
            <form action="/" method="post">
                <p>
                    Username
                </p>
                <input type="text" name="" placeholder="Enter Username">
                <p>password</p>
                <input type="password" name="" placeholder="Enter Password">
                <button class="btn btn-primary" style="height:50px;width:200px;" type="submit">Submit</button>
                <a href="#">Lost your password?</a><br>
                <a href="/registration">Don't have an account?</a><br>
            </form>
            </div>
            <div id="Footer">
                <h4 text-align="center">All rights reserved  &copy;Digital Agency</h4>
            </div>
</body>
</html>